.side-drawer{
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    width:70%;
    max-width: 400px;
    z-index: 453;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.privateMessenger{
    font-size:1.1rem;
    padding:10px;
    font-weight: bold;
}

.publicName{
    font-size:1.1rem;
    padding:10px;
    font-weight: bold;

}

.privateName{
    font-size:1.1rem;
    padding:10px;
    font-weight: bold;

}

.publicMessenger{
    font-size:1.1rem;
    padding:10px;
    font-weight: bold;

}

.side-drawer.open{
    transform: translateX(0);
  
}


.side-drawerList a{

    color:rgb(177, 12, 39);
font-size: 1rem;
text-decoration: none;
text-transform:uppercase;
opacity: 0;
transition: opacity 150ms ease-in-out;

}