html, body, #root{
    margin:0px;
    width: 100%;
    padding: 0;
    height: 100%;
    --mainBackgroundColor:#808080;
    --borderColor: rgb(161,67,181); 
    --radiantPurplColor:radial-gradient(circle, rgba(161,67,181,1) 5%, rgba(93,45,98,1) 63%);
    --scrBackgroundColor:#c600219d;

  }





body{
    /* background: rgba(251,220,64,1);
background: -moz-linear-gradient(left, rgba(251,220,64,1) 0%, rgba(231,56,39,1) 72%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,220,64,1)), color-stop(72%, rgba(231,56,39,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(left, rgba(251,220,64,1) 0%, rgba(231,56,39,1) 72%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(left, rgba(251,220,64,1) 0%, rgba(231,56,39,1) 72%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(left, rgba(251,220,64,1) 0%, rgba(231,56,39,1) 72%, rgba(231,56,39,1) 100%);
background: linear-gradient(to right, rgba(251,220,64,1) 0%, rgba(231,56,39,1) 72%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbdc40', endColorstr='#e73827', GradientType=1 ); */

/* background-color: #e056fd;
background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%); */

background: var(--mainBackgroundColor);


}

.loading{
font-size: 150px;

}

.largeScrName{
    background: var(--scrBackgroundColor);
}

a{

    /* text-decoration-color: #eeda74;
    color: #eeda74; */
}



.friendsInfo{
    
    color: #eeda74;
}

.app-container{
    width: 100%;
    height: 789px;
    /* max-width: 1400px; */
    overflow: hidden;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    border-right: 1px solid;
    
    }
    
    #left-menu{
        border-right: 2px solid;
        overflow: hidden;
    }
    
    
    
    .sitePic{
        padding-top: 15px;
        padding-bottom: 10px;
        border: solid 5px #eeda74;;
        background: var(--borderColor);
        background: var(--radiantPurplColor);
        border-top: 0;
        border-right: 0;

    
    }

    .siteLogo{
        height: 70px;
        width: 70px;
    }
    
    .groups{
        padding: 15px;
    }
    
    
    .liLinks{
        padding: 10px 0 ;
        font-size: 13px;
    }
    
    .title{
        padding: 10px 0 ;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }

/* HeaderCSS */
.sitePic1{
    width:20%;
    padding-top: 10px;
   position: relative;
   top: -10px;
    
}



.siteName{
width:270px;


}
.header_container{
    
    display: flex;
    
}

.logoSpan{
    width: 70%;
    justify-content: flex-start;
    align-items: center; 
    display: flex;
}

.memberLogin{
    justify-content: flex-end;
    align-items: flex-start; 
    display: flex;
    padding-right: 30px;
    padding-top: 20px;
    
}

.passmessage2{
    text-align: right;
    padding-right: 120px;

}

.headerBar{
    display:flex;

  
   
}

.input1{
    display: flex;
    padding-left: 10px
}

.loginInput{

    font-size: 14px;
    background: #d3d3d3 ;
    padding:5px
 
}
#loginIcon{
    padding-right: 5px;
}
/* END Header Css */
/* 
Signup CSS */
.signupContainer{
    width:100%
}
.register{
 text-align: center;
 width:100%
}
.registerName{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.signUpForm{
    width:100%;
}
.registerEmail{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.signupInput{
    font-size: 14px;
    background: #d3d3d3 ;
    padding:5px;
    border-radius: 10px;
    margin: 15px;

}



.signupBtn{
    margin-top: 5px;
    font-size: 15px;
    background: rgb(18, 187, 209);
    width: 40%;
    height: 40px;
    
}
.signupButContainer{
    padding-bottom: 10px;
}


ul {
    list-style-type: none

}


.profile-container{
display:grid;
grid-template-columns: -1fr ;
width:90%

}

.profile-info{
   padding-left: 25px;
    width: 100%;
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;

}

.profile-image{
    text-align: center;
}


.profile-image img{
    width:70%;
   text-align: center;
    margin: 25px 0 50px;
    display: inline-block;
    background: #1b1b1b;
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.button-div{
    display: flex;
    justify-content: center;
    width: 100%
}


.follow-button{
    font-weight: bold;
    cursor: pointer;
    padding: 15px 25px;
    background: #5F9EA0;
    display: inline-block;
   
    border-radius: 4px;
    border:1px solid black;
    
}

.friend-btn{
    
    font-weight: bold;
    cursor: pointer;
    
    
   
   
    background: #5F9EA0;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    border:1px solid black;
 margin-left: 5px

}

.friend-btn2{
    color:blue;
    font-weight: bold;
    cursor: pointer;
   
    background: #5F9EA0;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 4px;
    border:1px solid black;
 margin-left: 5px

}

.photos-btn{
     
    font-weight: bold;
    cursor: pointer;
   
    text-align: center ;
    line-height: 0px;
    
    background: #5F9EA0;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 4px;
    border:1px solid black;
 margin-left: 5px
}

#friend-icon{
    font-size: 20px;
   
}

.my-friends{
    font-weight: bold;
    cursor: pointer;
    
    
    background: #5F9EA0;
    display: inline-block;
    padding: 15px ;
    border-radius: 4px;
    border:1px solid black;
 margin-left: 5px
}




.content-Container{

    overflow: hidden;
    height: 800;
}

.contentArea{
    box-sizing: content-box;
    width:100%;
    height: calc(100% - 99px);
    overflow: auto;
    padding: 0 15px 0 7px;
    z-index: 985;
    
  

}
.contentArea:hover {
  padding:0  
  
}

.navigation{
    width: 100%;
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
border-bottom: solid 5px #eeda74;

background: var(--borderColor);
background: var(--radiantPurplColor);


}

.userAccount{
padding-top: 10px;
padding-right: 30px;
position: relative;
    cursor: pointer;
float: right;
}
.dropDown{
    position: absolute;
  
    background: white;
    left: 0;
    width: 100%;
z-index: 10;
transition: all 0.6s ease-out;
visibility: hidden;
opacity: 0;
cursor: pointer;
}

.userAccount.active .dropDown{
    bottom: -77px;
    visibility: visible;
    opacity: 1;


}

.dropdown-item{
    display: block;
    padding: 10px 15px;
}

.screennameDrop{
    padding-left: 5px;
}
.searchForm{
    padding:10px;
}

.srch_resp_cont{
    text-align: left;
    padding-left: 0px;
    
}

.searchResponse{
    padding-top: 5px;
    background: #d3d3d3 ;
    border:thin     ;
    border-color: #1b1b1b;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 15px;
    width: 400px;
    height: 50px;
}

.searchInfo{
    position:relative ;
    width: 400px;
    height: 29px;
    float: left;
    background: #d3d3d3 ;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 15px;
    
}

.btn{
    padding-top: 0.5px;
    color: black;
    background: green;
}
#searchButton{
    position: relative;
    height: 29px;





}


.search-Img{

    height: 40px;
    width: 40px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border:5px solid  tan;
    }



.navIcons{
    position: absolute ;
    top:0;
    right: 500px;
    padding:10px;
    color: #696969;
    font-size: 24px;
   
}
.bellNotifications{
    float: left;
    position: relative;
    padding-right: 5px;
    
}

.commentNotifications{
    position: relative;
    float: left;

   
}

.notificationNumber{
    position: absolute;
    
    color:#56e91d;
    top:10px;
    right:0;
    padding-right: 14px;
    font-size: 12px;
    
}


#bell{
    padding-right: 5px;
    padding-left: 5px;

}

#note{
    padding-right: 5px;
    padding-left: 5px;
    
}

.user-Img{

height: 50px;
width: 50px;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 50%;
border:5px solid  tan;
position: absolute;
top:28px;
left: -20px;
}

.composeStatus{
max-width: 630px;
width: 95%;
margin: 0 auto;
padding: 40px 0;
position: relative;
left: -0px;

}

.statusText{
    height: 75px;
    background: #d3d3d3 ;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 0px;
    font-size: 14px;
    font-weight: 700;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    /* position: absolute;
  right: 15px;
    bottom: 0px; */

}

.postbutton{
    text-align: center;
  
    border: 1px;
    border: solid black;
    height: 50px;
    width: 50px;
    background: blue;
    border-radius: 50%;
    font-size: 18px;
}

.photo{
    border-radius: 50%;
}
.video{
    border-radius: 50%; 
}
.button{
    background: white;
    height: 40px;
    width: 40px;
    margin-left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
    padding: 1px 1px;
    font-size:20px;
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
}

.send{
    background: transparent;
    border: 1px;
    border: solid black;
    padding: 0px;
    border-radius: 50%;
}


.feed_Container{
    max-width: 630px;
    width: 95%;
    margin: 0 auto;
}

.friendsPostinfo{
    display: flex;
    padding: 0 15px;
}

.uploadedInfo{

    position: relative;
    max-width: 100%;
}



.uploadReady{
    
    visibility:hidden;


}


.uploadReady.active {
    
    visibility: visible;


}

.story{
    margin: 25px 0 50px;
    display: inline-block;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* profile editor  */
.unchangeable{

font-size: 24px;
font-weight: bold;
padding: 5px;

}

.editInput{
    padding: 10px;
    font-size: 14px;
    background: #d3d3d3 ;
    border-radius: 10px;
}
.profileInputs{
    padding:10px
}

.avatarsect{

    font-size: 18px;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 20px
}


.updateProfileBtn{

    margin-top: 5px;
    font-size: 15px;
    background: rgb(18, 187, 209);
    width: 120px;
    height: 40px;
}

.btnDiv{

text-align: center;

}
/* end profile editor */




.upImage{
    margin: 25px 0 50px;
    display: inline-block;
    max-height: 600px;
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-box-shadow: 0px 26px 48px -21px rgba(56,42,122,1);
-moz-box-shadow: 0px 26px 48px -21px rgba(56,42,122,1);
box-shadow: 0px 26px 48px -21px rgba(56,42,122,1);
}

.friendsImg{
    
    display: inline-block;
 
    height: 50px;
    width: 50px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border:5px solid  tan;
}

.colorBackground{
   
    position: relative; 
    top: -40px;
    background: #d3d3d3;
    padding: 50px 20px;
    -webkit-box-shadow: -5px 7px 34px -5px rgba(0,0,0,0.51);
    -moz-box-shadow: -5px 7px 34px -5px rgba(0,0,0,0.51);
    box-shadow: -5px 7px 34px -5px rgba(0,0,0,0.51);
}



.friendsInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding-left: 5px;
}

.friendInfoLink{

text-decoration: none;
font-weight: 700px;
margin: 0 10px;
}

.emojis{
    display:flex;
    padding: 15px 0;
    border-top: 2px solid darkslategray;
    border-bottom: 2px solid  darkslategrey;
    margin-bottom: 25px;
}

.likeSection{
    display: flex;
   
}
.likeDisplay{
    justify-content: center;
    align-content: center;  
height: 20px;
width: 20px;
background: blue;
font-size: 1rem;
color:white;
border-radius: 50%;

}




.stories{

    text-decoration: none;
    font-weight: 700px;
    margin: 0 10px;
}

.commentList{
    padding-bottom: 20px
}

.commentUrl{
    max-width:35%;
    max-height: 35%;
}


.responseComments{
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
}



.commentArea{
    
    height: 35px;
    padding-left: 10px;
    width: 80%;
    border-radius: 20px;
   
    
    border: none;
   
}

.commentButtons{
    display: flex;
    justify-content: flex-end
}

.nocommentPic{
    display: none;
}

.likeButton{
    height: 40px;
    width: 40px;
    background: white;
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 5px;
}

.replyButton{
    height: 40px;
    width: 40px;
    background: white;
    -webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
    box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.45);
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.friendsLiked{
    width: 70%;
    font-size: 13px;
    font-weight: bold;
    color:grey;
    justify-content: flex-start;
    align-items: center; 
    display: flex;
    padding-left: 10px;
}

.numOfComments{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    font-size: 13px;
    font-weight: bold;
    color:grey;
    width: 30%;

}

p{
    line-height: 1.5rem;
    margin-bottom: 20px;
}

*{
    box-sizing: border-box;
}
.messenger-area{
    overflow: hidden;
    height: 800px;
}

.messengerContainer{
    height: 100%;
    
}

.messengerHead{
    color:white;
display: flex;
height: 50px;
font-size: 25px;
padding: 10px 0px;
border-bottom: solid 5px #eeda74;;
background: var(--borderColor);
background: var(--radiantPurplColor);

}



.chatIcon{
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 20%;
    padding-left: 15px;

}
.messengerTitle{
    width: 50%;
color: white;
font-weight: 600;
text-transform: capitalize;
display: flex;
    align-items: center;
    justify-content: center;
}

.optionIcon{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width:30%;
    padding-right: 15px;

}


.onlineFriends{

    padding: 20px 15px;
    height: calc(800px - 106px);
    overflow: auto;
}

.chatContainer{
    overflow:auto;
    height: 100%;


   


}

.chatFriends{
padding: 5px 0px;
    display: flex;
}

.chatFriends:hover {

    cursor: pointer;
}





.onlineFriendName{
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #A9A9A9;
    font-weight: 300;
  width:50%;
    font-size: 1rem;
}





.onlineFriendImg{
     
   
    height: 40px;
    width: 35px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border:5px solid  tan;
    opacity: .8;
  

    }
/* .room{
    opacity: .8;
    color: #A9A9A9;
    font-weight: 300;
} */


/* .room:hover {
        cursor: pointer;
        opacity: 1;
        color: white;
        font-weight: 600;
      } */


      .chatting{
          width: 20%;
        display: none;
        align-items: center;
        justify-content: flex-end;
          color:white;
          
      }

      
      .onChatting{
        width: 20%;
     
      align-items: center;
      justify-content: flex-end;
        color: blue;
        
    }
   
      .chatFriends:hover .onlineFriendImg{
        opacity: 1;
    }

    .chatFriends:hover .onlineFriendName{
        color: white;
        font-weight: 700;
    }
        
        
.chatFriends.active .onlineFriendName{
    font-weight: 700;
    color: blue;
}


.chatFriends.active .onlineFriendImg{
    opacity: 1;
}
    


.chatFriends.active .chatting{
    display: flex;
}

.chatSearch{
   padding-bottom: 20px;
   padding-left: 25px;
   padding-right: 15px
}

.chatInput{
width: 85%;
border:none;
border-radius: 25px;
font-size: 14px;
    background: #d3d3d3 ;
    padding:10px;
    color:white;
}










input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.friendsList{
    display:flex;
    flex-wrap: wrap;


}

.friends{
    flex-shrink: 300px;
    flex:1fr;
    max-width:300px ;
    margin: 2px;
    padding: 5px;
}


.friend img {
    max-height: 200px;
    max-width: 200px;
}

.friendsHeader{
    text-align: center;
}


/* Screename Page */


.screenNameArea{
    box-sizing: content-box;
    width:90%;
    height: calc(100% - 99px);
    overflow: auto;
    padding: 0 15px 0 7px;
    margin-top: 20px;
    background: var(--scrBackgroundColor);
    
    
  

}


.miniUpImage{
    margin: 25px 0 50px;
    display: inline-block;
   max-width: 100%;
  max-height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-box-shadow: 0px 26px 48px -21px rgba(56,42,122,1);
-moz-box-shadow: 0px 26px 48px -21px rgba(56,42,122,1);
box-shadow: 0px 26px 48px -21px rgba(56,42,122,1);
}



.miniComposeStatus{
    
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    left: -0px;
    max-width: 90%;
    margin-top: 30px
    }
    
    .miniStatusText{
        height: 75px;
        background: #d3d3d3 ;
        width: 100%;
        border: none;
        border-radius: 5px;
        padding-left: 35px;
        padding-right: 0px;
        font-size: 14px;
        font-weight: 700;
    }

    .miniScreenName{
        padding-bottom: 20px;
        padding-left:10px;
        position: fixed;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px
    }

    .miniUserName{
        
            padding-bottom: 10px;
            position: absolute;
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px

    }

    .modalBox{
       max-width: 900px; 
       max-height: 400px;
       z-index: 997; 
       position: fixed;

       top:375px;
    }
    .modalContainer{
        border:solid thin black;
        width: 275px;
       
        border-radius: 5px;
        background: white;
      
        
    
    }

    .modalHeader{
        width:273px;
        height:25px;
        padding-bottom: 5px;
        position: fixed;
        margin-bottom: 5px;
        background: #A9A9A9
    }

.messageContainer{
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 10px
}




    .close{
        float: right;
        border-radius: 5px;
        width:5px;
        padding-right: 15px;
       
    }
 
    



.chatFriendName{
    padding: 3px;
   
   height: 25px;
   width:100%;

}


.messageDisplay{
    overflow: auto;
    overflow-Y: scroll;
    width: 275px;
    height: 200px;
}




.messageSection{
    clear: both;
   
    width: 100%
}

.textMessage{
    height: 40px;
    width: 100%;
    background: #EBECE4;
      border:solid thin black;
      resize: none

}

.modalPic{
    max-width:80% ;
}

.messagePic{
    max-width: 100%;
}

.modalVideo{

}

.messageVideo{
    width: 95%;
}
.fileInputContainer{
height: 70px;
}

.imgInactive{
    display: none;   
   }

.vidInputActive{

}
.vidInactive{
 display: none;   
}

.messageBtnDiv{
display: flex;
height:35px;
}

.messageBtn{
    background-color: #1e9600;
    margin-left: 10px;
    margin-top: 3px;  
    border-radius: 5px;
}

.attachFile{
    padding-left: 10px;
    padding-top: 5px;
    
}

.attachVideoFile{
    padding-left: 10px;
    padding-top: 5px;
}

.attachVideoBtn{
    border-radius: 20px;
}

.attachPhotoBtn{
    border-radius: 20px;
}

.callFriend{
    padding-left: 10px;
    padding-top: 5px;
}
.phoneButton{
    border-radius: 20px;

}

.sender{
    font-size: 10px;
    color: rgb(69, 170, 204);
}

.otherSender{
    font-size: 10px;
    color :rgb(48, 139, 101);
    margin-left: 30px;
}

.otherMessage{
   
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    max-width: 200px;
    margin-left: 30px;
    
}

.otherMessage p {
    padding-left: 5px;
        background: rgb(48, 139, 101);
        border-radius: 5px;
        max-width: 200px;
}





.theMessage{
  max-width: 200px;  
font-size: 16px;
font-weight: 600;



}
.theMessage p{
    padding-left: 5px;
    background: rgb(69, 170, 204);
    border-radius: 5px;
    max-width: 200px;

}






header{
    display: none;
}


/* Videochat css */
.videoChatContainer{
    height: 95%;
    width: 95%;
    z-index:999 ;
    background-color: #1b1b1b;
}

.videoWindows{
    display: flex;
    margin-top: 20px;

}

.senderVidContainer{

    border:2px solid black;
 
}
.senderVideo{
    max-width: 200px;
}

.receiverVidContainer{
    border:2px solid black; 

}
.receiverVideo{
    max-width: 300px;
}

/* media querries */

@media screen and (max-width:1269px){

    .composeStatus{
       
        width: 90%;
      
        }
    
        .feed_Container{
            width: 95%;
            margin: 0;
        }
    
        .navIcons{
            position: relative;
            right:-80%;
            padding:0px;
        }

        .chatIcon{
            padding-left: 0px;
        }

        .chatFriends.active .chatting{
            display: none;
        }
    }

    
    @media screen and (max-width:1150px){
        .messengerHead{
         font-size: 18px;   
         font-weight: bold;
        width: 95%;
        align-items: flex-end;
    
        }
    .friendsInfo{
        flex-wrap: wrap;
    }
    
    
    }
    

    @media screen and (max-width:789px){
        header{
            display: grid;
            grid-template-columns: 1fr auto minmax(600px,1fr) 1fr
        
        }

        .userAccount{
            padding-bottom:5px ;
        }
        
        .logo{
            grid-column: 2/3;
        
        }
        
        .navIcons{
            position: relative;
            right:-80%;
            padding:0px;
        }
        
        header{
            background: transparent;
            text-align: center;
            position: fixed;
            width: 100%;
        }
        
        .nav-toggle{
            display: none
        }
        
        .nav-toggle-label{
            position: absolute;
            top: 0;
            left: 0;
            margin: 1em;
            height: 100%;
            display: flex;
            align-items: center;
            margin-top: 30px;
        }
        
        .nav-toggle-label span,
        .nav-toggle-label span::before,
        .nav-toggle-label span::after{
            display: block;
            background: white;
            height: 2px;
            width: 2em;
            border-radius: 2px;
            position: relative;
        }
        .nav-toggle-label span::before,
        .nav-toggle-label span::after{
        content: "";
        position: absolute;
        }
        .nav-toggle-label span::before{
        bottom: 7px;
        }
        .nav-toggle-label span::after{
        top:7px;
        }
        
        
        
        
        nav ul{
            margin:0;
            padding: 0;
            list-style: none;
        
        }
        
        
        
        
        
        
        
        .nav-toggle:checked~nav{
        
        transform: scale(1,1)
        
        }
        
        .nav-toggle:checked ~ nav a{
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }
        
        .searchInfo{
            width:80%
        }
        
        
        
        
        
        
        
        
            .app-container{
             
          
                grid-template-columns:100%;
              display: inline-block;
                
                }
        
        
            #left-menu{
                    display:none
                }
        
             .messenger-area{
                    display:none
                    
                }
        
        
                .messengerContainer{
            height: 100%;
            
        }
        
        .searchInfo{
            
            width: 75%;
          float:none;
            
            
        }
        
        .searchBox{
            width: 50%
        }
        
        .searchForm{
            display:flex;
            align-items: flex-end;
            justify-content: center;
            width: 100%;
        }
        
        .newFeedLink{
            display:none;
        }


        .smScrnLogo{

            width: 40px;
            height: 40px;

        }
        
        .navSitePic{
            width: 40px;
            height: 40px;
            padding-top: 1px;
            padding-bottom: 1px;
           
            
        
        }
        
        ul.homeButton{
            padding: 0px;
            margin-top: 2px;
            padding-left: 5px;
        
        }
                
        
        
        .my-friends,
        .photos-btn,
        .button-div{
            font-size: 12px;
            padding:5px;
        }

        .my-friends,
        .photos-btn{
            width: unset;
            height: unset;
        }

        .postbutton{
            font-size: 14px;
        }
        
        #friend-icon{
            font-size: 24px;
            
            
        }
        
        .siteName{
        display: inline-block;
        }
        
        .header_container{
            
            flex-direction: column;
            
        }
        
        .logoSpan{
            width: 100%;
            justify-content: center;
        }
        .memberLogin{
        
            padding-left:10%;
            display: inline-block;
            text-align: center;
            justify-content: center;
            width: 90%;
        }
        .input1{
           
            padding-bottom: 2%;
        }
        
        .headerBar{
            flex-direction: column;
            align-items: center;
        width:100%
          
           
        }
        
        #signInBtn{
            width:25%;
            padding: 3%;
           
        }
        
        .motto{
            font-size: 20px;
            font-weight: bolder;
        }
        
        #appFeatures{
            font-size: 14px;
        }
        
        #featIcons{
            font-size: 14px ;
        }
        
        
        
        #home{
            font-size: 11px;
            line-height: 0.5;
        }

        .app-container{
            overflow: initial;
        }

        .modalBox{
            top:350px;
        }

        .buttons{
            /* bottom: -5px;
            right: 10px; */
            
            flex-flow: row wrap;
            
        }

        .senderVideo{
            max-width: 75px;
        }
        
        .receiverVidContainer{
            border:2px solid black; 
        
        }
        .receiverVideo{
            max-width: 250px;
        }
        
     

        #file{
            padding-top: 10px;
        }
        
        .feed{
            padding-top:15px
        }

        #previewUpload{
            margin-right: 5px;
        }

        .commentPhoto{
            width: 50px;
        }

        

        /* .navigation{
            
           position: fixed;
           top: 0;
           overflow: hidden;
            z-index: 1;
        }
        .contentArea{
           z-index: -1;
            margin-top: 25%;
            
        } */
        
        }

        
        